In [1]:
# dictionary
# -indexed
# -Duplicate values
# -Ordered
# -Mutable

In [2]:
d = dict()
d = {}

In [3]:
d = {"a":"apple","b":"ball"}
d

{'a': 'apple', 'b': 'ball'}

In [7]:
d['b']

'ball'

In [8]:
d = {"a":"apple","b":"ball","A":"apple"}
d

{'a': 'apple', 'b': 'ball', 'A': 'apple'}

In [9]:
d = {"A":"apple","b":"ball","A":"Apple"}
d

{'A': 'Apple', 'b': 'ball'}

In [10]:
d = {"a":"apple","b":"ball","A":"apple"}
d['c'] = 'Cat'
d

{'a': 'apple', 'b': 'ball', 'A': 'apple', 'c': 'Cat'}

In [11]:
d = {"a":"apple","b":"ball","A":"apple"}
d['a'] = 'Apple'
d

{'a': 'Apple', 'b': 'ball', 'A': 'apple'}

In [12]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d

{'a': 'Apple', 'b': 'Ball'}

In [13]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    phone = input("Enter phone")
    d[name] = phone
    
print(d)

Enter n = 2
Enter nameRam
Enter phone9808778765
Enter nameShyam
Enter phone980878765
{'Ram': '9808778765', 'Shyam': '980878765'}

In [14]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d:
    print(i)

Ram
Shyam

In [15]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.values():
    print(i)

9808778765
980878765

In [16]:
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.items():
    print(i)

('Ram', '9808778765')
('Shyam', '980878765')

In [17]:
l = []
d = {'Ram': '9808778765', 'Shyam': '980878765'}
for i in d.items():
    l.append(i)
print(l)

[('Ram', '9808778765'), ('Shyam', '980878765')]

In [18]:
dict(l)

{'Ram': '9808778765', 'Shyam': '980878765'}

In [19]:
# del
d = {'Ram': '9808778765', 'Shyam': '980878765'}
del d['Ram']
d

{'Shyam': '980878765'}

In [21]:
# pop()
d = {'Ram': '9808778765', 'Shyam': '980878765'}
c = d.pop('Ram')
print(c)
print(d)

9808778765
{'Shyam': '980878765'}

In [22]:
# list inside dictionary
d = {'Ram': ['9808778765','9808778723'], 'Shyam': ['980878765','9867667654']}
d

{'Ram': ['9808778765', '9808778723'], 'Shyam': ['980878765', '9867667654']}

In [23]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name")
    ntc_phone = input("Enter ntc phone")
    ncell_phone = input("Enter ncell phone")
    d[name] = [ntc_phone,ncell_phone]
    
print(d)

Enter n = 2
Enter nameRam
Enter ntc phone9878778654
Enter ncell phone9808778765
Enter nameShyam
Enter ntc phone9867667634
Enter ncell phone9808667640
{'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}

In [24]:
d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
d['Hari'] = ['980878765','9808667654']
d

{'Ram': ['9878778654', '9808778765'],
 'Shyam': ['9867667634', '9808667640'],
 'Hari': ['980878765', '9808667654']}

In [27]:
d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
d['Shyam'].append('9808778765')
d

{'Ram': ['9878778654', '9808778765'],
 'Shyam': ['9867667634', '9808667640', '9808778765']}

d = {'Ram': ['9878778654', '9808778765'], 'Shyam': ['9867667634', '9808667640']}
del d['Ram'][0]
d

In [31]:
d = {'name':['Ram','Shyam','Hari'],'age':[64,89,43],'add':['Kathmandu','Bhaktapur','Lalitpur']}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [64, 89, 43],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [33]:
d = {'name':['Ram','Shyam','Hari'],'age':[64,89,43],'add':['Kathmandu','Bhaktapur','Lalitpur']}

d['name'].append('Puskar')
d['age'].append(45)
d['add'].append('Bara')
d

{'name': ['Ram', 'Shyam', 'Hari', 'Puskar'],
 'age': [64, 89, 43, 45],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur', 'Bara']}

In [34]:
# dict inside list
l = [{'name':'Ram','age':45,'add':'Kathmandu'},
    {'name':'Rama','age':41,'add':'Bara'},
    {'name':'Shyam','age':48,'add':'Bara'}]
l

[{'name': 'Ram', 'age': 45, 'add': 'Kathmandu'},
 {'name': 'Rama', 'age': 41, 'add': 'Bara'},
 {'name': 'Shyam', 'age': 48, 'add': 'Bara'}]

In [35]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
    
l

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bara

[{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 89, 'add': 'Bara'}]

In [37]:
l[0]['name'] = "Rama"

'Ram'

In [38]:
del l[0]
l

[{'name': 'Shyam', 'age': 89, 'add': 'Bara'}]

In [42]:
# dict inside dict
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d

{1: {'name': 'Ram', 'grade': 'A'},
 2: {'name': 'Hari', 'grade': 'B'},
 3: {'name': 'Sita', 'grade': 'C'}}

In [45]:
d = {}
d[1]={"name":"Ram","grade":"A"}
d[2] = {"name":"Hari","grade":"B"}
d

{1: {'name': 'Ram', 'grade': 'A'}, 2: {'name': 'Hari', 'grade': 'B'}}

In [48]:
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Sita","grade":"C"}}
d[1]['name']

'Ram'