In [ ]:
# # Python collection
# List
# Tuple
# Set
# Dictionary

In [1]:
# list

In [ ]:
# indexing
# multiple data
# duplicate data
# ordered
# mutable

In [2]:
a = []
a = list()
print(type(a))

<class 'list'>

In [3]:
a = [1,2,3,4,5]
b = ['Apple','ball','Cat','Apple']
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [9]:
b = ['Apple','ball','Cat','Apple']
b[2]

'Cat'

In [10]:
b = ['Apple','ball','Cat','Apple']
b[0:2]

['Apple', 'ball']

In [11]:
b = ['Apple','ball','Cat','Apple']
b[0:4:2]

['Apple', 'Cat']

In [12]:
len(b)

4

In [13]:
b = ['Apple','ball','Cat','Apple']
b

['Apple', 'ball', 'Cat', 'Apple']

In [14]:
a = ['Apple','ball','Cat','Apple']
b = ['Fish']
c = a+b
print(c)

['Apple', 'ball', 'Cat', 'Apple', 'Fish']

In [17]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [18]:
a = ['Apple', 'ball', 'Cat', 'Apple', 'Fish']
a[0] = 'apple'
a

['apple', 'ball', 'Cat', 'Apple', 'Fish']

In [19]:
a = ['Apple', 'ball', 'Cat', 'Apple', 'Fish']
for i in a:
    print(i)

Apple
ball
Cat
Apple
Fish

In [21]:
a = ['Apple', 'ball', 'Cat', 'Apple', 'Fish']
l = len(a)
for i in range(l):
    print(a[i])

Apple
ball
Cat
Apple
Fish

In [20]:
a = ['Apple', 'ball', 'Cat', 'Apple', 'Fish']
for i in a:
    if i != 'Apple':
        print(i)

ball
Cat
Fish

In [32]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a + [x]
print(a)

Enter n = 5
Enter x = 567
Enter x = 324
Enter x = 5
Enter x = 456
Enter x = 34
[567, 324, 5, 456, 34]

In [35]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum = ",sum(a))
print("The avg = ",sum(a)/n)
a.sort()
print(a)
a.reverse()
print(a)

The max value =  567
The min value =  5
The sum =  1386
The avg =  277.2
[5, 34, 324, 456, 567]
[567, 456, 324, 34, 5]

In [37]:
a = ['Apple','Zebra','Apple','Xray']
a.sort()
a

['Apple', 'Apple', 'Xray', 'Zebra']

In [1]:
# Add
# append() insert() extend()

# delete
# del remove() pop()

# for indexing
# index()

# Value count
# count()

# Calculation
# sum() max() min() 

# sorting
# sort() sorted()

In [2]:
a = []
a.append('Apple')
a.append('Ball')
a.append('Cat')
a

['Apple', 'Ball', 'Cat']

In [3]:
a = ['Apple', 'Ball', 'Cat']
a.append('Dog')
a

['Apple', 'Ball', 'Cat', 'Dog']

In [5]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
print(a)

Enter n = 2
Enter x = Apple
Enter x = Ball
['Apple', 'Ball']

In [6]:
a = ['Apple', 'Ball', 'Cat', 'Dog']
a.insert(1,'ball')
a

['Apple', 'ball', 'Ball', 'Cat', 'Dog']

In [7]:
a = ['Apple', 'Ball', 'Cat', 'Dog']
b = ['Fish','Goat']
a.extend(b)
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat']

In [8]:
a = ['Apple', 'Ball', 'Cat', 'Dog']
a[0] = 'apple'
a

['apple', 'Ball', 'Cat', 'Dog']

In [9]:
a = ['Apple', 'Ball', 'Cat', 'Dog']
a[1] = 'Cat'
a[2] = 'Ball'
a

['Apple', 'Cat', 'Ball', 'Dog']

In [10]:
a = ['Apple', 'Ball', 'Cat', 'Dog']
del a[1]
a

['Apple', 'Cat', 'Dog']

In [11]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
del a[0:2]
a

['Cat', 'Dog']

In [12]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
a.remove('Ball')
a

['Apple', 'Cat', 'Dog', 'Apple']

In [13]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
a.remove('Apple')
a

['Ball', 'Cat', 'Dog', 'Apple']

In [16]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
l = a.count("Apple")
for i in range(2):
    a.remove("Apple")
    
a

['Ball', 'Cat', 'Dog']

In [17]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
a.index('Ball')

1

In [19]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
l = len(a)
for i in range(l):
    if a[i] == 'Apple':
        print(i)

0
4

In [20]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
l = len(a)
for i in range(l):
    if a[i] == 'Apple':
        a[i] = 'apple'
a

['apple', 'Ball', 'Cat', 'Dog', 'apple']

In [24]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
b = []
x = input("Enter x = ")
y = input("Enter y = ")
for i in a:
    if i == x:
        b.append(y)
    else:
        b.append(i)
b

Enter x = Apple
Enter y = apple

['apple', 'Ball', 'Cat', 'Dog', 'apple']

In [28]:
a = ['Apple', 'Ball', 'Cat', 'Dog','Apple']
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 2

In [27]:
# WAP to search any value inside a list

In [30]:
# List inside list (nested_list)
a = [['Ram',45,'Kathmandu'],
    ['Shyam',45,'Bhaktapur'],
    ['Hari',34,'Lalitpur']]

b = [[1,2,3],
    [4,5,6],
    [7,8,9]]

In [36]:
a[0]

['Ram', 45, 'Kathmandu']

In [40]:
a[0][1]

45

In [41]:
a.append(['Sita',45,'Bara'])
a

[['Ram', 45, 'Kathmandu'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 45, 'Bara']]

In [42]:
a.insert(1,['Sarita',32,'Chitwan'])
a

[['Ram', 45, 'Kathmandu'],
 ['Sarita', 32, 'Chitwan'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 45, 'Bara']]

In [43]:
for i in a:
    print(i)

['Ram', 45, 'Kathmandu']
['Sarita', 32, 'Chitwan']
['Shyam', 45, 'Bhaktapur']
['Hari', 34, 'Lalitpur']
['Sita', 45, 'Bara']

In [46]:
search = input("Enter name = ")
for i in a:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 45, 'Kathmandu']

In [47]:
a

[['Ram', 45, 'Kathmandu'],
 ['Sarita', 32, 'Chitwan'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 45, 'Bara']]

In [49]:
a[0] = ['Rama',56,'Dhading']
a

[['Rama', 56, 'Dhading'],
 ['Sarita', 32, 'Chitwan'],
 ['Shyam', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 45, 'Bara']]

In [52]:
a[2][0] = 'Shyama'
a

[['Rama', 56, 'Dhading'],
 ['Sarita', 32, 'Chitwan'],
 ['Shyama', 45, 'Bhaktapur'],
 ['Hari', 34, 'Lalitpur'],
 ['Sita', 45, 'Bara']]

In [53]:
a.index(['Sarita', 32, 'Chitwan'])

1

In [ ]:
# # WAP to create a matrix
# # r =?
# # c = ?
# # x = ?

# WAP to remove duplicate data in list inside list