In [1]:
# Set
# -No indexing
# -Unordered
# -Multiple but no duplicate data
# -Mutable data

In [2]:
s = {1,2,3}
s = set()
print(type(s))

<class 'set'>

In [5]:
s = {34,56,22,89,34,11,23}
print(s)
s

{34, 22, 23, 56, 89, 11}

{11, 22, 23, 34, 56, 89}

In [8]:
s = {34,56,22,89,34,11,23}
print(s)

{34, 22, 23, 56, 89, 11}

In [9]:
s = {34,56,22,89,34,11,23,11,34,11,56}
print(s)

{34, 22, 23, 56, 89, 11}

In [10]:
s = {34,56,22,89,34,11,23,11,34,11,56}
list(s)

[34, 22, 23, 56, 89, 11]

In [12]:
s = [34,56,22,89,34,11,23,11,34,11,56]
list(set(s))

[34, 11, 22, 23, 56, 89]

In [13]:
s = set()
s.add('Apple')
s.add('Ball')
s.add('Cat')
print(s)

{'Cat', 'Apple', 'Ball'}

In [14]:
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
    
s

Enter n = 5
Enter x = 132
Enter x = 546
Enter x = 8576
Enter x = 234
Enter x = 678

{'132', '234', '546', '678', '8576'}

In [15]:
s = {'132', '234', '546', '678', '8576'}
s.remove('132')
s

{'234', '546', '678', '8576'}

In [16]:
s = {'132', '234', '546', '678', '8576'}
s.replace('132','34')

AttributeError: 'set' object has no attribute 'replace'

In [17]:
s = {'132', '234', '546', '678', '8576'}
t = {1565,6788}
s+t

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [18]:
s = {'132', '234', '546', '678', '8576'}
s*3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [19]:
apple = {"Ram",'Jobs','Jack',"Sabin","Nabin"}
ms = {'Gates','Naresh','Jack','Subin','Nabin'}

apple.intersection(ms)

{'Jack', 'Nabin'}

In [20]:
apple.union(ms)

{'Gates', 'Jack', 'Jobs', 'Nabin', 'Naresh', 'Ram', 'Sabin', 'Subin'}

In [21]:
apple.update(ms)
apple

{'Gates', 'Jack', 'Jobs', 'Nabin', 'Naresh', 'Ram', 'Sabin', 'Subin'}

In [23]:
apple = {"Ram",'Jobs','Jack',"Sabin","Nabin"}
ms = {'Gates','Naresh','Jack','Subin','Nabin'}
# apple.difference(ms)
apple - ms

{'Jobs', 'Ram', 'Sabin'}

In [24]:
ms-apple

{'Gates', 'Naresh', 'Subin'}

In [26]:
U = {'Gates', 'Jack', 'Jobs', 'Nabin', 'Naresh', 'Ram', 'Sabin', 'Subin','Kim','John'}
apple = {"Ram",'Jobs','Jack',"Sabin","Nabin"}
ms = {'Gates','Naresh','Jack','Subin','Nabin'}

un = apple.union(ms)
U-un

{'John', 'Kim'}

In [31]:
job = {'Python','django','html','css'}
u = {'Python','html'}
len(job.intersection(u))

2

In [32]:
len(job.intersection(u))/len(job)*100

50.0

In [33]:
job = {['Python','django'],['html','css']}
job

TypeError: unhashable type: 'list'

In [34]:
job = {('Python','django'),('html','css')}
job

{('Python', 'django'), ('html', 'css')}

In [35]:
# set inside set
a = {{1,2,3},{4,5,6}}
a

TypeError: unhashable type: 'set'

In [36]:
# set inside list
l = [{1,2,3},{4,5,6}]
l

[{1, 2, 3}, {4, 5, 6}]

In [37]:
# set inside tuple
t = ({1,2,3},{4,5,6})
t

({1, 2, 3}, {4, 5, 6})

In [39]:
d = {"apple":{"Ram",'Jobs','Jack',"Sabin","Nabin"},
    "ms":{'Gates','Naresh','Jack','Subin','Nabin'},
    "int":apple.intersection(ms),
    "union":apple.union(ms)}
d

{'apple': {'Jack', 'Jobs', 'Nabin', 'Ram', 'Sabin'},
 'ms': {'Gates', 'Jack', 'Nabin', 'Naresh', 'Subin'},
 'int': {'Jack', 'Nabin'},
 'union': {'Gates',
  'Jack',
  'Jobs',
  'Nabin',
  'Naresh',
  'Ram',
  'Sabin',
  'Subin'}}

In [40]:
# isdisjoint() subset() superset() issubset() issuperset()

In [41]:
apple.isdisjoint(ms)

False

In [43]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {1,2,3}
b.issubset(a)

True