In [ ]:
# string

In [1]:
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
# + *
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [4]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [6]:
a = int('10')
a

10

In [7]:
a = "Hello World"
a[0]

'H'

In [16]:
a = "Hello World"
b = a[0:500]
b

'Hello World'

In [15]:
a = "Hello World"
b = a[0:110:2]
b

'HloWrd'

In [24]:
a = "Hello World"
b = a[10::-1]
b

'dlroW olleH'

In [22]:
a = "Hello World"
b = a[::-1]
b

'dlroW olleH'

In [25]:
# String formatting
name = "Ram"
age = 34
data =f"Hello my name is {name}. I am {age}." 
data

'Hello my name is Ram. I am 34.'

In [26]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
data = f"Hello I am {name}. I am from {add}. I am {age}."
data

Enter name = Ram
Enter age = 78
Enter add = Kathmandu

'Hello I am Ram. I am from Kathmandu. I am 78.'

In [1]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
print(s)

Enter n = 2
Enter name = Apple
Enter price = 200
Enter quantity = 4
Enter name = banana
Enter price = 100
Enter quantity = 2
Apple 200 4 800
banana 100 2 200

In [2]:
s

'Apple 200 4 800\nbanana 100 2 200\n'

In [4]:
s = "Ram Shyam Hari Sita Gita Ramesh"
for i in s:
    print(i,end = "")

Ram Shyam Hari Sita Gita Ramesh

In [6]:
s = "Ram Shyam Hari Sita Gita Ramesh"
if "Ram" in s:
    print("Yes")
else:
    print("No")

Yes

In [14]:
s = "Ram Shyam Hari Sita Gita Ramesh"
search = input("Enter s = ")
if search in s:
    print("Yes")
    print(s.count(search))
else:
    print("No")

Enter s = ram
No

In [18]:
s = "Ram Shyam Hari Sita Gita Ramesh"
print(s.upper())
print(s)

RAM SHYAM HARI SITA GITA RAMESH
Ram Shyam Hari Sita Gita Ramesh

In [20]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.upper()
print(s)

RAM SHYAM HARI SITA GITA RAMESH

In [21]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.lower()
print(s)

ram shyam hari sita gita ramesh

In [28]:
a = "ram shyam hari sita gita ramesh"
a.title()

'Ram Shyam Hari Sita Gita Ramesh'

In [23]:
s = "Ram Shyam Hari Sita Gita Ramesh".upper()
search = input("Enter s = ").upper()
if search in s:
    print("Yes")
    print(s.count(search))
else:
    print("No")

Enter s = Ram
Yes
2

In [25]:
# replace()
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.replace('Hari','hari')
s

'Ram Shyam hari Sita Gita Ramesh'

In [26]:
# replace()
s = "Ram Shyam Hari Sita Gita Ramesh"
s = s.replace('Hari','')
s

'Ram Shyam  Sita Gita Ramesh'

In [27]:
s = "Ram Shyam Hari Sita Gita Ramesh"
s.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']