In [1]:
# Tuple
# -Indexing
# -Ordered
# -Duplicate values
# -Multiple values
# -Imutable

In [2]:
a = (1,2,3,4,5,6)
b = ("Apple","Ball","Cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [5]:
b = ("Apple","Ball","Cat")
print(b[2])

Cat

In [6]:
b = ("Apple","Ball","Cat")
print(b[0:3])

('Apple', 'Ball', 'Cat')

In [7]:
b = ("Apple","Ball","Cat")
a = ("Dog","Goat")
c = a+b
c

('Dog', 'Goat', 'Apple', 'Ball', 'Cat')

In [12]:
b = ("Apple","Ball","Cat",)
b*2

('Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat')

In [9]:
# No append() insert() extend()
# No del pop() remove()
# No update
#No sort

In [11]:
a = ("Apple",)
type(a)

tuple

In [18]:
a = tuple()
b = "Apple"
c = "Ball"
a = a+(b,)
a = a+(c,)
a

('Apple', 'Ball')

In [16]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x  = "))
    t = t+(x,)
print(t)

Enter n = 5
Enter x  = 234
Enter x  = 354
Enter x  = 234
Enter x  = 65
Enter x  = 567
(234, 354, 234, 65, 567)

In [21]:
t = (234, 354, 234, 65, 567)
l = list(t)
del l[0]
t = tuple(l)
t

(354, 234, 65, 567)

In [22]:
# We can
# max min sum
# read search

In [23]:
a = ("Ram","Shyam","Hari","Sita")
for i in a:
    print(i)

Ram
Shyam
Hari
Sita

In [24]:
a = ("Ram","Shyam","Hari","Sita")
if "Ram" in a:
    print("Yes")

Yes

In [26]:
a = ("Ram","Shyam","Hari","Sita")
sorted(a)

['Hari', 'Ram', 'Shyam', 'Sita']

In [27]:
# tuple inside tuple

In [31]:
# t = ((1,2,3),
#      (4,5,6),
#      (7,8,9))

t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x  = "))
    y = int(input("Enter y  = "))
    z = int(input("Enter z  = "))
    t = t+((x,y,z),)
print(t)

Enter n = 2
Enter x  = 1
Enter y  = 2
Enter z  = 3
Enter x  = 4
Enter y  = 5
Enter z  = 6
((1, 2, 3), (4, 5, 6))

In [34]:
l = []
t = ((1, 2, 3), (4, 5, 6))
for i in t:
    l.append(list(i))
    
l

[[1, 2, 3], [4, 5, 6]]

In [38]:
t = tuple()
l = [[1, 2, 3], [4, 5, 6]]
for i in l:
    t = t+ (tuple(i),)
print(t)

((1, 2, 3), (4, 5, 6))

In [ ]:
t = ([1, 2, 3], [4, 5, 6])
l = [(1,2,3),(4,5,6)]

In [41]:
t = ((1, 2, 3), (4, 5, 6))
t = list(t)
t

[(1, 2, 3), (4, 5, 6)]

In [43]:
t.append((7,8,9))
t

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [45]:
del t[0]
t

[(4, 5, 6), (7, 8, 9)]

In [46]:
t = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
t[0] = (0,2,3)
t

[(0, 2, 3), (4, 5, 6), (7, 8, 9)]

In [48]:
t = ([1, 2, 3], [4, 5, 6])
t[0].append(33)
t

([1, 2, 3, 33], [4, 5, 6])

In [51]:
t = ([1, 2, 3], [4, 5, 6])
t[0][0] = 11
t

([11, 2, 3], [4, 5, 6])

In [52]:
t = ([1, 2, 3], [4, 5, 6])
t[0][0] = 11
t[0][1] = 22
t[0][2] = 33
t

([11, 22, 33], [4, 5, 6])

In [54]:
t = ([1, 2, 3], [4, 5, 6])
t[0].clear()
t

([], [4, 5, 6])

In [55]:
# [[1,2,3],
#  [4,5,6],
#  [7,8,9]]
# m = [[1,2,3],[4,5,6],[7,8,9]]
# n = [7,8,9]
r = int(input("Enter r = "))
c = int(input("Enter c = "))
m = []
for i in range(r):
    n = []
    for j in range(c):
        x = int(input("Enter x = "))
        n.append(x)
    m.append(n)

Enter r = 3
Enter c = 3
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
Enter x = 5
Enter x = 6
Enter x = 7
Enter x = 8
Enter x = 9

In [56]:
print(m)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]