In [1]:
# file = open('<file_path>','<mode>')
# file.close()

In [2]:
# with open('file_name>','<mode>') as file:
#     <operations>

In [3]:
# mode
# read -> 'r'
# create -> 'x'
# write -> 'w'
# append -> 'a'

In [6]:
try:
    file = open('new_file.txt','x')
    file.close()
except:
    print("The file is already created")

The file is already created

In [10]:
#Read file
file = open('new_file.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
<class 'str'>

In [16]:
n = int(input("Enter n = "))
x.split('\n')[n-1]

Enter n = 2

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World',
 '7.Hello World']

In [17]:
with open('data.txt','w') as file:
    file.write('Hello World')

In [18]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("age = "))
    add = input("Enter add = ")
    s = s+f"{name} {age} {add}\n"
    
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = Ram
age = 78
Enter add = Kathmandu
Enter name = Shyam
age = 89
Enter add = Patan

In [19]:
pwd

'C:\\Users\\Aayush\\Class8am'

In [20]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
print(s)
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 4
Enter quantity = 100
Apple 300 2 600
Banana 4 100 400

In [ ]:
#csv file
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name},{price},{quantity},{total}\n"
    s = s+bill
    
print(s)
with open('data.csv','w') as file:
    file.write(s)